@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Uncial+Antiqua&display=swap");

header {
    margin: 0px;
}

.logo {
    background: url("../images/beach.jpg");
    background-position: center;
    background-repeat: none;
    background-size:cover;
    min-height: 360px;
}
